/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.movieImage {
  float:left;
}

.personImage {
  float:left;
}

.movieList {
  border: 2px ridge;
  border-radius : 10px;
  background-color: floralwhite;
}

.movieTitle {
  font-family: 'Times New Roman';
  font-size: 15px;
  margin-left: 8%;
}

.movieLanguage {
  font-family: 'Times New Roman';
  font-size: 10px;
  margin-left: 8%;
}

.movieRating {
  font-family: 'Times New Roman';
  font-size: 10px;
  margin-left: 8%;
}

.movieReleaseDate {
  font-family: 'Times New Roman';
  font-size: 10px;
  margin-left: 8%;
}

.personList {
  border: 2px ridge;
  border-radius : 10px;
  background-color: floralwhite;
}

.personName {
  font-family: 'Times New Roman';
  font-size: 15px;
  margin-left: 8%;
}